/*

DARK
#363035 plum/brown
#373b48 blue

MEDIUM
#645862 plum
#59645c green
#5e647b blue

LIGHT
#9f939d plum
#a9adbc blue

*/

body {
  background-color: #645862;
  color: #a9adbc;
  text-align: center;
  margin: 0;
}

header {
  /*margin: 2em 0;*/
  border-bottom: solid 4px #70778f;
  overflow: auto;
  padding: 2em 0;
  width: 90%;
  margin: auto;
}

.noborder {
  border: none;
}

h1 {
  margin: 0;
  font-size: 2em;
  font-variant: small-caps;
}

h2 {
  color: #9f939d;
  font-size: 2em;
  font-variant: small-caps;
  margin: 0;
  padding-bottom: 1em;
  /*text-decoration: underline;*/
}

h3 {
  margin: 0;
  text-decoration: underline;
}

header h3,
header p {
  box-sizing: border-box;
  margin: 0;
  color: #9297ab;
  font-size: 1em;
  text-decoration: none;
}

.clear {
  clear: both;
}

nav {
  padding: 1em 0;
}

nav a {
  text-decoration: none;
  padding: 0 0.5em;
}

main{
  width: 90%;
  margin: auto;
  padding-bottom: 1em;
}

article {
  padding-top: 1em;
  margin-bottom: 1em;
}

section {
  padding-bottom: 2em;
}

.content {
  padding: 1em;
  margin: 2em 0;
}

.links {
  background-color: #5e647b;
  padding: 1em;
  margin: 2em 0;
}

.links h2 {
  padding: 0;
}

.links dl {
  list-style-type: none;
  padding: 1em 0;
  margin: 0;
}

.links dt,
.links dt a {
  color: #a9adbc;
  font-weight: bold;
  font-size: 1.1em;
}

.links dd {
  padding-bottom: 2em;
  margin: 0;
}

pre {
  padding: 1em;
  overflow: hidden;
  background-color: #a9adbc;
}

code {
  background-color: #a9adbc;
  color: #645862;
  padding: 0 3px;
}

.demo {
  background-color: #645862;
  border: 2px solid #a9adbc;
}
.demo code {
  background-color: #645862;
  color: #a9adbc;
}

p {
  /*margin: 0;*/
}

a {
  color: #e6ffff;
  text-decoration: none;
}

img {
  width: 100%;
}

.zalgo {
  padding: 2em 0;
  overflow: hidden;
}

footer {
  border-top: solid 4px #70778f;
  padding: 1em 0;
  color: #a9adbc;
  width: 90%;
  margin: auto;
}

.fronticon {
  padding: 5px;
  /*animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;*/
}

/*@keyframes example {
    0%  {color:#645862;}
    33% {color:#59645c;}
    66% {color:#5e647b;}
    100% {color:#645862;}
}*/

.secret {
  color: #a9adbc;
  cursor: default
}

.blue {
  color: #b5cce3;
}

.green {
  color: #9fc6b9;
}

.texticon {
  font-size: 4em;
  font-weight: bold;
  padding: 15px;
  display: inline;
}

.imgicon {
  padding: 0 5px;
  display: inline;
  width: 40px;
}

.imgiconsmall {
  padding: 0 5px;
  display: inline;
  width: 20px;
}

.menu-icon {
  display: inline;
  background-color: #645862;
  color: #cbe0e7;
  height: 100%;
  text-align: center;
  padding-top: 0;
  animation-name: none;
}


/* Murakami image halves */
.mkl {
  /*position: relative;*/
  float: left;
  width: 50%;
}

.mkr {
  /*position: relative;*/
  float: right;
  width: 50%; }


.leftalign {
  text-align: left;
}

ul {
  list-style: none;
  padding-left: 0;
}

.answer ul {
  list-style: circle;
  padding-left: 20px;
}

li.win:before, li.mac:before, li.info:before, li.null:before {
  font-family: FontAwesome;
  color: #e6ffff;
  width: 25px;
  display: inline-block;
}
li.win:before {
  content: "\f17a"; 
}
li.mac:before {
  content: "\f179"; 
}
li.info:before {
  content: "\f013"; 
}
li.null:before {
  content: ""; 
}



/* FAQ hide show */
input {
  visibility: hidden;
}

input[type=checkbox]:checked + label + div {
  transition: all 1s;
  height: auto;
  opacity: 1;
}

input[type=checkbox]:checked + label + div p {
  height: auto;
  opacity: 1;
}

input::before {
  font-family: FontAwesome;
  content: "\f0fe";
  color: #b5cce3;
  visibility: visible;
}

input[type=checkbox]:checked::before {
  content: "\f146";
}

label {
  display: inline-block;
}

.answer,
.answer p {
  height: 0;
  opacity: 0;
  transition: all 0.2s;
  overflow: hidden;
}



@media screen and (min-width: 480px) {

  body {
    text-align: left;
  }

  header {
    /*
    // fixed header stuff
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    background-color: #645862;
    */
  }

  header h3,
  header p {
    width: 50%;
  }

  header h3 {
    float: left;
  }

  header p {
    float: right;
    text-align: right;
  }

  header h1 {
    float: left;
  }

  h2 {
    font-size: 2.5em;
  }

  article {
    padding: 0;
    margin: 0.5em 0;
  }


  nav {
    float: right;
  }

  nav a {
    padding: 0 1em;
  }

  main {
    clear: both;
    /*padding-top: 150px; // fixed header */
  }

  img {
    /*max-width: 600px;*/
  }

  /* Murakami image */
  .murakami {
    /*max-width: 600px;*/
  }

  article {
  }

  .links h2 {
    text-align: center;
  }

  .links dl {
    column-count: 2;
    text-align: center;
    /*break-inside: avoid;*/
  }

  pre {
    font-family: monospace;
    font-size: 100%;
    letter-spacing: 0em;
    margin: 0;
    overflow: hidden;
  }

  ul {
    list-style: none;
    padding-left: 2em;
  }

  li.win:before, li.mac:before, li.info:before, li.null:before {
    font-family: FontAwesome;
    color: #e6ffff;
    padding-right: 0.5em;
    /*opacity: 0.5;*/
    width: 25px;
    display: inline-block;
  }

  label {
    display: inline-block;
    position: relative;
    left: 5px;
  }


} /* screen > 480px */


@media screen and (min-width: 1024px) {

  .content {
    width: 65%;
    float: left;
  }

  .links {
    width: 25%;
    float: right;
  }

  .links h2 {
    font-size: 2em;
  }

  .links dl {
    column-count: 1;
  }


  footer {
    clear: both;
  }


} /* screen > 1024px */
