/* VARIABLES */

html {
  /* COLOURS */
  --dark:   #222D3F;  /* var(--dark); */
  --darkish:#335941;  /* var(--darkish); */
  --medium: #4f8c6c;  /* var(--medium); */
  --bright: #77A756;  /* var(--bright); */
  --light:  #99BE7F;  /* var(--light); */

/* #ADD9F4 */
/* #ffffff */


  /* FONTS */
  --sf: Garamond,
        "Garamond Antiqua",
        serif;
  --ssf: "Century Gothic",
         "Avant Garde Gothic",
         "Avant Garde",
         sans-serif;

}






body {
  background: var(--medium);
  margin: 0;
  font-family: var(--ssf);
  position: relative;
  overflow-x: hidden;
}
.title, .brexit {
  height: 50vh;
}
.title { 
  color: var(--light);
  background-color: var(--dark);
}
.brexit { 
  color: var(--dark);
  background-color: var(--light);
}
.int_menu, .ext_menu {
  color: var(--light);
  background: var(--darkish);
  width: 100%;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  text-align: center;
  z-index: 1;
  position: absolute;
  transition: all 1s ease-in-out;
}
.int_menu {
  top: -50vh;
}
.ext_menu {
  top: -25vh;
}
.int_menu > *, .ext_menu > * {
  width: calc(100vw / 7);
}

i[class*="fa-"] {
  font-size: 2em;
}
.link, a, a:visited {
  color: var(--bright);
  cursor: pointer;
}
.spiral {
  width: 2em;
  animation: spin 4000ms infinite linear;
}
@keyframes spin { 
  from { transform: rotate(360deg); } 
  to   { transform: rotate(0deg); }
}
.home {
  transition: all 1s ease-in-out;
}
.brexit {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.brexit img {
  width: calc(100% - 60px);
}
.brexit #cat {
  display: none;
}
.brexit #cat:hover, 
.brexit img:hover ~ #cat {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - 80px);
  width: 160px;
  height: 160px;
  object-fit: cover;
}
.title {
  font-size: 5em;
  line-height: 50vh;
  text-align: center;
}
.content {
  min-height: 100vh;
  padding: 2em 1em;
  background: white;
}
h1 {
  text-align: right;
  color: var(--medium);
  font-size: 2.5em;
  border-bottom: 10px solid;
}
h2, h3 {
  color: var(--dark);
  margin-top: 2em;
}
p[title^="last"] {
  text-align: right;
}
#date, .date {
  color: var(--medium);
  font-weight: bold;
}
.date {
  margin: 0;
  display: none;
}
.zalgo {
  margin: 4em 2em;
}
#goren {
  width: 90%;
  padding: 1em 5%;
}
#goren text {
  font-family: monospace;
  white-space: pre;
  fill: var(--light);
}
/* details[open] summary,
details[open] summary h3 {
  background: var(--dark);
  color: white;
} */
summary h3 {
  display: inline-block;
  margin: 1em 0;
}
summary:focus {
  outline: none;
}

.content img {
  width: 100%;
}
.content figcaption {
  text-align: center;
}

.content > div, .content > aside, .content > article {
  border: 0;
}

.murakami {
  display: flex;
}


.up {
  text-align: right;
  margin-top: 10px;
  color: var(--medium);
}
footer {
  padding: 1em;
  text-align: center;
  color: var(--dark);
  background: white;
  box-shadow: 0 -10px 20px rgba(79, 140, 108, 0.2);
}
footer p {
  margin: 0;
}
footer i[class*="fa-"], i.fa-thumbs-up {
  font-size: 1em;
}









/* RADIOBUTTON HACK */

/* hide all sections initially */
.content, [class*='home'], 
input[type="radio"], input[type="checkbox"] {
  display: none;
}
/* show the one that is selected */
input#home_button:checked ~ [class$=' home'],
input[id^='about']:checked ~ [id='about'],
input[id^='bookmarks']:checked ~ [id='bookmarks'],
input[id^='cheats']:checked ~ [id='cheats'],
input[id^='images']:checked ~ [id='images'] {
  display: flex;
  flex-direction: column;
}




/* hide and show mobile menu */
label[for="menu_button"] {
  position: absolute;
  /* left: calc(50vw - 15px); */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  font-size: 3em;
  color: var(--bright);
  cursor: pointer;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  transition: all 1s ease-in-out;
}
input#menu_button:checked ~ .int_menu,
input#menu_button:checked ~ .ext_menu {
  transform: translate(0,50vh);
}
label[for="menu_button"]::before {
  content: "\f107";  /* arrow_down */
}
input#menu_button:checked ~ label[for="menu_button"]::before {
  content: "\f106";  /* arrow_up */
}
input#menu_button:checked ~ label[for="menu_button"] {
  top: 50vh;
  /* background: rgba(255,255,255,0.8); */
}









@media screen and (min-width: 900px) {

  input[id^='about']:checked ~ [id='about'],
  input[id^='bookmarks']:checked ~ [id='bookmarks'],
  input[id^='cheats']:checked ~ [id='cheats'],
  input[id^='images']:checked ~ [id='images'] {
    /* flex-direction: row; */
  }
  [class$=' home'] {
    position: fixed;
  }
  .title {
    display: inline-block;
    left: 0;
    width: calc(50% - 60px);
    height: 100vh;
    line-height: 100vh;
    margin-right: 60px;
    transition: all 1s ease-in-out;
  }
  .brexit {
    display: flex;
    right: 0;
    width: calc(50% - 60px);
    height: 100vh;
    margin-left: 60px;
    transition: all 1s ease-in-out;
  }
  label[for="menu_button"] {
    display: none;
  }
  .int_menu, .ext_menu {
    position: fixed;
    top: 0;
    width: 60px;
    height: 100vh;
    grid-template-columns: 1fr;
  }
  .int_menu {
    left: calc(50% - 80px);
    border-left: 20px solid var(--dark);
  }
  .ext_menu {
    right: calc(50% - 80px);
    border-right: 20px solid var(--light);
  }
  .int_menu > *, .ext_menu > * {
    width: 60px;
  }
  input[type="radio"]:checked:not(:default) ~ .int_menu,
  input[type="radio"]:checked:not(:default) ~ .title {
    transform: translateX(calc(-50vw + 80px));
  }
  input[type="radio"]:checked:not(:default) ~ .ext_menu,
  input[type="radio"]:checked:not(:default) ~ .brexit {
    transform: translateX(calc(50vw - 80px));
  }
  .content {
    padding: 2em 8em;
  }
  .brexit #cat:hover, 
  .brexit img:hover ~ #cat {
    top: calc(50% - 90px);
    width: 180px;
    height: 180px;
  }
  .content > div, .content > aside, .content > article {
    border: 2px solid;
    border-image-source: linear-gradient(to bottom right, white, 95%, #ccc);
    border-image-slice: 1;
    /* position: relative; */
  }
  /* #uparrow {
    position: absolute;
    bottom: 10px;
    right: -10px;
    color: #ccc;
  } */

  /* .content > div:hover::before, 
  .content > aside:hover::before, 
  .content > article:hover::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f106";
    position: absolute;
    bottom: 0;
    right: -10px;
    color: #ccc;
    font-size: 2em;
  } */
  /* .content > div:hover #uparrow, 
  .content > aside:hover #uparrow, 
  .content > article:hover #uparrow {
    position: absolute;
    bottom: 200px;
    right: 200px;
  } */


}