/* VARIABLES */

html {
  /* COLOURS */
  --dark:   #222D3F;  /* var(--dark); */
  --darkish:#335941;  /* var(--darkish); */
  --medium: #4F8C6C;  /* var(--medium); */
  --bright: #77A756;  /* var(--bright); */
  --light:  #99BE7F;  /* var(--light); */


  /* FONTS */
  --sf: Garamond,
        "Garamond Antiqua",
        serif;
  --ssf: "Century Gothic",
         "Avant Garde Gothic",
         "Avant Garde",
         sans-serif;

}




/* GLOBAL */
/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: var(--ssf);
  grid-template-columns: 100%;
  grid-template-areas: 
    /* "header" */
    "main"
    "content"
    "footer";
}
h1 {
  margin: 0;
  padding: 1em 0;
}
.home {
  height: 50vh;
}
header {
  position: absolute;
  width: 100%;
}
main {
  grid-area: main;
  box-sizing: border-box;
}
aside {
  grid-area: content;
  box-sizing: border-box;
}
.half {
  font-size: 5em;
  /* padding: 1.5em 0; */
  line-height: 50vh;
  text-align: center;
}
footer {
  text-align: center;
  color: var(--darkish);
  grid-area: footer;
}
.spacing {
  box-sizing: border-box;
  padding: 1em;
}

article img {
  width: 100%;
}

.mkl {
  width: 50%;
  float: left;
}
.mkr {
  width: 50%;
  float: right;
}


#goren {
  width: 100%;
}
#goren text {
  font-family: monospace;
  white-space: pre;
  fill: var(--light);
}



/* colours */
.dark-theme {
  color: var(--light);
  background-color: var(--dark);
}
.dark-theme a, .dark-theme a:visited {
  color: var(--bright);
}
.light-theme {
  color: var(--dark);
  background-color: var(--light);
}
.light-theme a, .light-theme a:visited {
  color: var(--dark);
}
.fronticon.link, a.fronticon, a.fronticon:visited {
  color: var(--bright);
}




/* menu */
#menudown, #menuup {
  font-size: 2em;
  /* background: var(--light); */
  color: var(--darkish);
  text-align: center;
  cursor: pointer;
}
nav {
  display: none;
  color: var(--light);
  background: var(--darkish);
  box-sizing: border-box;
  height: 50vh;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.fronticon {
  text-align: center;
  font-size: 3em;
}
.menutoggle {
  display: grid;
}
.hide {
  display: none;
}
.fa-leaf {
  display: none;
}
.link {
  color: var(--bright);
  cursor: pointer;
}
.spiral {
  width: 1.1em;
  margin: 0 auto;
  animation: spin 4000ms infinite linear;
}
@keyframes spin { 
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(360deg); 
  }
}
/* end menu */

.brexit {
  width: 100%;
}



@media screen and (min-width: 900px) {

  body {
    display: grid;
    /* grid-template-columns: 45% 10% 45%; */
    grid-template-columns: calc(50% - 60px) 120px calc(50% - 60px);
    grid-template-areas: 
      "main header content"
      "footer footer footer";
  }

  header {
    min-height: 100vh;
    background-color: var(--darkish);
    grid-area: header;
    position: relative;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  #menudown, #menuup {
    display: none;
  }

  .fronticon {
    font-size: 2em;
  }
  
  .home {
    height: 100vh;
  }

  .half {
    line-height: 100vh;
  }

  main {
    /* background-color: var(--dark);
    color: var(--light); */
    min-height: 100vh;
    /* width: calc(50% - 60px); */
  }

  aside {
    /* background-color: var(--light);
    color: var(--dark); */
    min-height: 100vh;
    /* width: calc(50% - 60px); */
  }

  footer {
    /* background: green; */
  }

  .brexit {
    --w: 100%;
    width: var(--w);
    padding: calc(50vh - var(--w) / 2) 0;
  }

  .fa-leaf {
    display: inherit;
  }

  /* #goren text {
    fill: var(--dark);
  } */

}