/* VARIABLES */

html {
  /* COLOURS */
  --dark:   #222D3F;  /* var(--dark); */
  --darkish:#335941;  /* var(--darkish); */
  --medium: #4f8c6c;  /* var(--medium); */
  --bright: #77A756;  /* var(--bright); */
  --light:  #99BE7F;  /* var(--light); */


  /* FONTS */
  --sf: Garamond,
        "Garamond Antiqua",
        serif;
  --ssf: "Century Gothic",
         "Avant Garde Gothic",
         "Avant Garde",
         sans-serif;

}


/* colours */
.dark-theme {
  color: var(--light);
  background-color: var(--dark);
}
.dark-theme a, .dark-theme a:visited {
  color: var(--bright);
}
.light-theme {
  color: var(--dark);
  background-color: var(--light);
}
.light-theme a, .light-theme a:visited {
  color: var(--dark);
}
.fronticon.link, a.fronticon, a.fronticon:visited {
  color: var(--bright);
}


@media screen and (min-width: 900px) {

  body {
    background: beige;
    margin: 0;
    font-family: var(--ssf);
  }
  header {
    display: flex;
    height: 100vh;
    background-color: var(--darkish);
    position: relative;
  }
  .left, .right {
    width: 50%;
    display: flex;
  }
  .left.move {
    position: absolute;
    left: -400px;
  }
  .left section, .right section {
    width: calc(100% - 60px);
  }
  .left nav, .right nav {
    color: var(--light);
    background: var(--darkish);
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .brexit {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .brexit img {
    width: calc(100% - 60px);
  }
  .title {
    font-size: 5em;
    line-height: 100vh;
    text-align: center;
  }
  .fronticon {
    text-align: center;
    font-size: 2em;
  }
  #menuup, #menudown {
    display: none;
  }
  .link {
    color: var(--bright);
    cursor: pointer;
  }
  .spiral {
    width: 1.1em;
    margin: 0 auto;
    animation: spin 4000ms infinite linear;
  }
  @keyframes spin { 
    from { 
      transform: rotate(360deg); 
    } to { 
      transform: rotate(0deg); 
    }
  }

  #interlude {
    height: 100vh;
  }

  .rotate {
    animation: spin 8000ms 1 linear;
  }

/* 
  #homepage {
    display: flex;
    min-height: 100vh;
  }
  #homepage main {
    width: calc(50vw - 60px);
    margin-right: 60px;
  }
  #homepage aside {
    width: calc(50vw - 60px);
    margin-left: 60px;
    height: 100vh;
  } */


  /* #interlude {
    height: 50vh;
  } */

  #aboutme {
    display: none;
  }

/* 
  #aboutme {
    display: flex;
    min-height: 100vh;
  }
  #aboutme main {
    width: calc(50vw + 60px);
  }
  #aboutme aside {
    width: calc(50vw - 60px);
  } */

  footer {
    padding: 1em;
    /* width: 50vw; */
    text-align: center;
    color: var(--darkish);
    background-color: white;
  }
  footer p {
    margin: 0;
  }




}